<<<<<<< HEAD
//CSS StyleSheet

*{

	font-size: 0.8em !important;
}

body{

	padding-top: 4em !important;
	font-size: 2em !important;
}

#mylogo{

	font-size: 1.1em !important;
}

.navbar{

	background-color: #FFF !important;
}

.navbar-brand{

	color: #419641 !important;
}

.navbar-toggle{

	color: #FFF !important;
	background-color: #419641 !important;
}

.icon-bar{
   background-color: #FFF !important;
}

.nav, .navbar-nav li a{

	color: #419641 !important;
	font-size: 1.1em !important;
}

.navbar-right{

	margin-right: 1em !important;
	margin-left: 1em !important;
}

.jumbotron{

	height: 25em;
	background: linear-gradient(rgba(192,192,192,0.2), rgba(192,192,192,0.1)), url(images/ny.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron > .container{

	padding-top: 5em;
	padding-bottom: 1em;
}

.btn-group{

	font-style: italic;
}

#more-info{

	margin-right: 0.5em;
	margin-left: 0.5em;
	border-radius: 25px;
	width: 8em;
}

#another-info{

	margin-right: 0.5em;
	margin-left: 0.5em;
	border-radius: 25px;
	width: 8em;
}

.img-responsive{

	margin-bottom: 1em;
}

.smartphone{

	display: inline;
	padding-left: 1.5em;
	padding-right: 0.5em;
}

#special-color{

	background: linear-gradient(to right, #424A4D, #419641 100%);
	color: FFF;
	width: 100% !important;
	padding: 1em 1em 1em 1em;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.singlebutton{

	margin: 1em 1em 1em 1em;
	width: 8em;
}

footer{

	background-color: #424A4D;
	color: #eee;
	padding: 1.5em;

}

ul.unstyled{

	list-style: none;
	padding: 0em;
}

ul li > a{

	color: #419641 !important;
}

.social-media{

	display: inline;
||||||| merged common ancestors
//CSS StyleSheet

body{

	padding-top: 80px !important;
}

#mylogo{

}

.navbar{

	background-color: #FFF !important;
}

.navbar-brand{

	color: #419641 !important;	
}

.navbar-toggle{

	color: #FFF !important;
	background-color: #419641 !important;	
}

.icon-bar{
   background-color: #FFF !important;
}

.nav, .navbar-nav li a{

	color: #419641 !important;
	font-size: 17px !important;
}

.navbar-right{

	margin-right: 5px !important;
	margin-left: 5px !important;
} 

.jumbotron{

	height: 500px;
	background: linear-gradient(rgba(192,192,192,0.2), rgba(192,192,192,0.1)), url(images/ny.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron > .container{

	padding-top: 100px;
	padding-bottom: 30px;
}

#more-info{

	margin-right: 5px;
	margin-left: 5px;
	border-radius: 25px;
	width: 130px;
}

#another-info{

	margin-right: 5px;
	margin-left: 5px;
	border-radius: 25px;
	width: 130px;
}

.img-responsive{

	margin-bottom: 13px;
}

.smartphone{

	display: inline;
	padding-left: 30px;
	padding-right: 10px;
}

#special-color{

	background: linear-gradient(to right, #424A4D, #419641 100%);
	color: FFF;
	width: 100% !important;
	padding: 10px 10px 10px 10px;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.singlebutton{

	margin: 10px 20px 10px 20px;
	width: 120px;
	height: 50px;
}

footer{

	background-color: #424A4D;
	color: #eee;
	padding: 20px;

}

ul.unstyled{

	list-style: none;
	padding: 0;
}

ul li > a{

	color: #419641 !important;
=======
//CSS StyleSheet

*{

	font-size: 0.8em !important;
}

body{

	padding-top: 4em !important;
	font-size: 2em !important;
}

#mylogo{

	font-size: 1.1em !important;
}

.navbar{

	background-color: #FFF !important;
}

.navbar-brand{

	color: #419641 !important;
}

.navbar-toggle{

	color: #FFF !important;
	background-color: #419641 !important;
}

.icon-bar{
   background-color: #FFF !important;
}

.nav, .navbar-nav li a{

	color: #419641 !important;
	font-size: 1.1em !important;
}

.navbar-right{

	margin-right: 1em !important;
	margin-left: 1em !important;
}

.jumbotron{

	height: 25em;
	background: linear-gradient(rgba(192,192,192,0.2), rgba(192,192,192,0.1)), url(images/ny.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron > .container{

	padding-top: 5em;
	padding-bottom: 1em;
}

.btn-group{

	font-style: italic;
}

#more-info{

	margin-right: 0.5em;
	margin-left: 0.5em;
	border-radius: 25px;
	width: 8em;
}

#another-info{

	margin-right: 0.5em;
	margin-left: 0.5em;
	border-radius: 25px;
	width: 8em;
}

.img-responsive{

	margin-bottom: 1em;
}

.smartphone{

	display: inline;
	padding-left: 1.5em;
	padding-right: 0.5em;
}

#special-color{

	background: linear-gradient(to right, #424A4D, #419641 100%);
	color: FFF;
	width: 100% !important;
	padding: 1em 1em 1em 1em;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.singlebutton{

	margin: 1em 1em 1em 1em;
	width: 8em;
}

footer{

	background-color: #424A4D;
	color: #eee;
	padding: 1.5em;

}

ul.unstyled{

	list-style: none;
	padding: 0em;
}

ul li > a{

	color: #419641 !important;
}

.social-media{

	display: inline;
>>>>>>> 66404711fa281d5c03fce1f48d50a14b02b812fc
}